@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;


.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.nav ul {
  list-style-type: none;
  margin: 0;
}
.nav li {
  float: left;
  margin: 0;
}
.nav a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  margin: 0px;
  font-family: 'Book Antiqua', Serif;
}

.nav li.current ul {
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 0px;
  z-index:0;
}
.nav ul {
  position: absolute;
  left: -999em;
  list-style: none;
  padding: 0;
}
.nav ul li {
  width: auto;
  margin: 0;
}
.nav ul a {
  height: auto;
  padding: 0 15px;
}
.nav li:hover ul {
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 0px;
  z-index:1
}
.menu-second-tier {
  height: 30px;
  margin-left: -10px;
  margin-right:-10px;
}
.sidebar {
  color: yellow;
}
.advisor {
  font-size: 130%;
  font-weight: bold;
  background-color:#b5a565;
  color:black
}
.advisor-title h6:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid black;
  z-index: -1;
}

h1 {
  font-family: 'Book Antiqua', Serif;
  font-size: 500%;
}
.title {
  font-family: 'Chomsky', 'Book Antiqua', Serif !important; 
  text-shadow: 3px 0px black;
}
.form-control-dark {
  color: var(--bs-table-striped-color);
  background: transparent;
}

.form-select-dark {
  color: #b1b1b1;
  background-color: #222 !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23cfcfcf' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  border: 1px solid #515151;
}

.bottom-tier {
  width: max-content;
}
.form-control-dark:focus,
.form-select-dark:focus {
  background-color: var(--bs-table-bg);
  color: var(--bs-table-striped-color);
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.card-dark {
  background-color: #222;
  border: 1px solid rgba(250, 250, 250, 0.125);
}
.card-header-dark {
  background-color: rgba(250, 250, 250, 0.03);
  border-bottom: 1px solid rgba(250, 250, 250, 0.125);
}
.list-group-item.active {
  z-index: 2;
  color: #fafafa;
  background-color: #375a7f;
  border-color: #375a7f;
}
.list-group-item.disabled, .list-group-item:disabled {
  color: #9e9e9e;
  pointer-events: none;
  background-color: #222;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #e1e1e1;
  text-decoration: none;
  background-color: #222;
  border: 1px solid rgba(250, 250, 250, 0.125);
}
.btn-primary-dark {
  color: #fafafa;
  background-color: #2f4d6c;
  border-color: #2c4866;
}
.btn-primary-dark:hover {
  color: #e1e1e1;
}
.alert-error {
  color: #ee8277;
  background-color: #74261e;
  border-color: #8b2e24;
}
.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert-success {
  color: #4dd0af;
  background-color: #005e46;
  border-color: #007154;
}
.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(3.5rem);
}

.form-control-dark:disabled,
.form-control-dark[readonly] {
  background-color: rgba(250, 250, 250, 0.03);
}

body{
    font-family: 'Book Antiqua', Serif
}
.wrapper {
  min-height: 100vh-50px;
}
.footer {
  color:yellow;
  height: 50px;
  bottom: 0;
  position: fixed;
  width: 100%;
}
h2{
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    /* color: darkorange; */
    /* text-shadow: 0.5px 0.5px 1px orange; */
    background-image: linear-gradient(360deg, orange, darkorange);
    font-weight: bold;
}
.mainArea {
  padding-bottom: 10px
}

.mainArea h2{
  font-size: x-large
}

.compose-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #5f5f5f;
  z-index: 1000; /* Ensure it's above other elements */
  width: 500px; /* Adjust width as needed */
}

.compose-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999; /* Ensure it's below the modal */
}

.compose-modal button {
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 10px;
  padding: 0 10px;
  border-width: thin;
  border-radius: 6px;
}

.compose-modal button:hover {
  opacity: 0.9;
}

.elf-double-border {
  border-left: 3px double rgb(13,97,46); /* First border color */
  box-shadow: 0 0 0 4px rgb(10,61,31); /* Second border color as shadow */
  padding-left: 1rem;
}
.elf-secondary-menu-current-link {
  color: rgb(10,61,31);
}
.elf-double-border-down {
  border-bottom: 3px double rgb(13,97,46); /* First border color */
  //box-shadow: 0 0 0 4px rgb(10,61,31); /* Second border color as shadow */
}
.undead-double-border {
  border-left: 3px double rgb(33, 33, 33); /* First border color */
  box-shadow: 0 0 0 4px rgb(77, 77, 77); /* Second border color as shadow */
  padding-left: 1rem;
}
.undead-double-border-down {
  border-bottom: 3px double rgb(33, 33, 33); /* First border color */
  //box-shadow: 0 0 0 4px rgb(77, 77, 77); /* Second border color as shadow */
}
.goblin-double-border {
  border-left: 3px double rgb(46, 12, 12); /* First border color */
  box-shadow: 0 0 0 4px #70301a; /* Second border color as shadow */
  padding-left: 1rem;
}
.goblin-double-border-down {
  border-bottom: 3px double rgb(46, 12, 12); /* First border color */
  //box-shadow: 0 0 0 4px #70301a; /* Second border color as shadow */
}
.human-double-border {
  border-left: 3px double rgb(26, 55, 93); /* First border color */
  box-shadow: 0 0 0 4px rgb(14, 31, 53); /* Second border color as shadow */
  padding-left: 1rem;
}
.human-double-border-down {
  border-bottom: 3px double rgb(26, 55, 93); /* First border color */
  //box-shadow: 0 0 0 4px rgb(14, 31, 53); /* Second border color as shadow */
}